{%  extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
        <h1 style="padding-left:25px">Liste des utilisateurs</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Roles</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set nb = 0 %}
            {% for user in users %}
                {% set nb = nb + 1 %}
                <tr>
                    <td>{{ nb }}</td>
                    <td><a href="{{ path('user.commentaire', {id: user.id })}}">{{ user.username }}</a></td>
                    <td>
                        {% set nbR=0 %}
                    {% for role in user.roles %}
                        {% set nbR = nbR +1 %}

                            {{ role }}

                    {% endfor %}
                    </td>
                    {% if "ROLE_ADMIN" not in user.roles %}
                    <td>
                        <a href="{{ path('admin.ajouter', {id: user.id}) }}" class="btn btn-link">Promouvoir au rang d'admin</a>
                    </td>
                        {% else %}
                        <td>
                            <a href="{{ path('admin.supprimer', {id: user.id}) }}" class="btn btn-link">Rétrograder au rang d'utilisateur</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>



    </div>
    &nbsp
    &nbsp
</div>
{% endblock %}
