{%  extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        <h2 style="padding-left:25px"> Cryptomonnaies - catégorie : {{ cat}} </h2>
        <div style="padding: 15px">
            <label for="pet-select">Catégorie :</label>

            <select name="pets" id="pet-select" onchange="changeCategorie(value)">
                {% for cat in categories %}
                <option value="{{ cat.value }}" {{cat.selected}}>{{ cat.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Nom</th>
                <th scope="col">Symbole</th>
                <th scope="col" >Prix</th>
                <th scope="col">Marketcap</th>
                <th scope="col">Categorie</th>
                <th scope="col">Date de Création</th>
            </tr>
            </thead>
            <tbody>
            {% set nb = 0 %}
            {% for cryp in cryptos %}
                {% set nb = nb + 1 %}
                <tr>
                    <td>{{ nb }}</td>
                    <td><img src="{{ cryp.logo }}" width="30px"></td>
                    <td ><a href="../../crypto/detail/{{cryp.id}}" style=" color: #000000;text-decoration: none;"><b>{{ cryp.nom }}</b></a></td>
                    <td>{{ cryp.symbole }}</td>
                    <td>{{ cryp.prix }} €</td>
                    <td>{{ cryp.marketcap }}</td>
                    <td>{{ cryp.categorie }}</td>
                    <td>{{ cryp.dateCreation|date("m/d/Y") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>



    </div>
    &nbsp
    &nbsp
    </div>

    <script>
        function changeCategorie(value) {

            console.log(value);
            origin = window.location.origin;

            pathnameFinal = "/cryptos/categorie/"+value;

            url = origin+pathnameFinal;
            window.location.replace(url);
        }
    </script>
{% endblock %}
