{%  extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        <h2 style="padding-left:25px">{% trans %} Cryptomonnaies - catégorie :{% endtrans %} {{ cat}} </h2>
        <div style="padding: 15px">
            <label for="pet-select">{% trans %}Catégorie :{% endtrans %}</label>

            <select class="form-select form-select-lg mb-3" name="pets" id="pet-select" onchange="changeCategorie(value)">
                {% for cat in categories %}
                    <option value="{{ cat.value }}" {{cat.selected}}>{{ cat.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">{% trans %}Nom{% endtrans %}</th>
                <th scope="col">{% trans %}Symbole{% endtrans %}</th>
                <th scope="col" >{% trans %}Prix{% endtrans %}</th>
                <th scope="col">{% trans %}Marketcap{% endtrans %}</th>
                <th scope="col">{% trans %}Categorie{% endtrans %}</th>
                <th scope="col">{% trans %}Date de Création{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% set nb = 0 %}
            {% for cryp in cryptos %}
                {% set nb = nb + 1 %}
                <tr>
                    <td>{{ nb }}</td>
                    <td><img src="{{ cryp.logo }}" width="30px"></td>
                    <td ><a href="../../../crypto/detail/{{cryp.id}}" style=" color: #000000;text-decoration: none;"><b>{{ cryp.nom }}</b></a></td>
                    <td>{{ cryp.symbole }}</td>
                    <td>{{ cryp.prix }} €</td>
                    <td>{{ cryp.marketcap }}</td>
                    <td>{{ cryp.categorie }}</td>
                    <td>{{ cryp.dateCreation|date("m/d/Y") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>



    </div>
    <div style="text-align: center; padding-top: 10px; padding-bottom: 15px">
    <span style="padding-right: 20px"><a href="../../../cryptos/categorie/{{ cat }}/1" style=" color: #000000;text-decoration: none;"><u>{% trans %}Début{% endtrans %}</u></a></span>
    <span style="padding-right: 20px"><a href="../../../cryptos/categorie/{{ cat }}/{{ pageStart-1 }}" style=" color: #000000;text-decoration: none;"><u>{% trans %}Précedent{% endtrans %}</u></a></span>
    {% for i in pageStart-2 .. pageEnd  %}

        {% if i > 0 %}
            {% if i == pageStart %}
                <span style="padding-left: 5px"><a href="../../../cryptos/categorie/{{ cat }}/{{ i }}" style=" color: #000000;text-decoration: none;"> <b><u>{{ i }}</u></b></a></span>
            {% else %}
                <span style="padding-left: 5px"><a href="../../../cryptos/categorie/{{ cat }}/{{ i }}" style=" color: #000000;text-decoration: none;">{{ i }}</a></span>
            {% endif %}
        {% endif %}

    {% endfor %}
    <span style="padding-left: 20px"><a href="../../../cryptos/categorie/{{ cat }}/{{ pageStart+1 }}" style=" color: #000000;text-decoration: none;"><u>{% trans %}Suivant{% endtrans %}</u></a></span>

</div>
    </div>

    <script>
        function changeCategorie(value) {

            console.log(value);
            origin = window.location.origin;

            pathnameFinal = "/cryptos/categorie/"+value;

            url = origin+pathnameFinal;
            console.log(url);
            window.location.replace(url);
        }
    </script>
{% endblock %}
