{%  extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">

    <div class="example-wrapper">
        <img src="{{ crypto.logo }}" width="50px">
        <span style="padding-left:25px; font-size: 2.5em; font-weight: bold"> {{ crypto.nom }}
            <span style="font-size: 0.75em">({{ crypto.symbole }})</span>
        </span>
        <span style="padding-left: 10px ; font-size: 1.2em"></span>
        <br>

    </div>
    <div class="example-wrapper" style="padding:35px 0px 5px 25px">
        <span style="font-size: 1.9em;"> <b>{{ crypto.prix }} €</b></span>
</div>
    {% if app.user %}
    <div>
        <a href="../../favori/ajouter/{{ app.user.id }}/{{ crypto.id }}" class="btn btn-default navbar-btn">{% trans %}Ajouter au favoris{% endtrans %}</a>
    </div>
    {% endif %}
    <div class="example-wrapper" style="padding:0px 0px 25px 25px">
        <span style="font-size: 1em;">{{ crypto.description }}</span>
    </div>
    <div class="example-wrapper">
        <table class="table">
            <tr>
                <td style="text-align: left">{% trans %}Capitalisation de marché :{% endtrans %}</td>
                <td> </td>
                <td style="text-align: right">{{ crypto.marketcap }}</td>
            </tr>
            <tr>
                <td style="text-align: left">{% trans %}Catégorie de la crypto-monnaie :{% endtrans %}</td>
                <td> </td>
                <td style="text-align: right">{{ crypto.categorie }}</td>
            </tr>
            <tr>
                <td style="text-align: left">{% trans %}Date de création :{% endtrans %}</td>
                <td> </td>
                <td style="text-align: right">{{ crypto.date_creation|date("m/d/Y") }}</td>
            </tr>
            <tr>
                <td style="text-align: left">{% trans %}Favoris :{% endtrans %}</td>
                <td> </td>
                <td style="text-align: right">{{ crypto.vote_up }}</td>
            </tr>
            <tr>
                <td style="text-align: left">{% trans %}Followers page twitter officiel :{% endtrans %}</td>
                <td></td>
                <td style="text-align: right">{{ crypto.followers }}</td>
            </tr>
        </table>
    </div>
</div>

    <div id="main" style="margin-left : 20%; width: 800px;height:450px; position: center"></div>

<div>&nbsp</div>
    <script type="text/javascript">
        // Initialize the echarts instance based on the prepared dom
        var myChart = echarts.init(document.getElementById('main'));

        // Specify the configuration items and data for the chart
        var option = {
            title : {
              text:"{% trans %}Cours de la cryptomonnaie : {% endtrans %}{{ crypto.nom }} {% trans %}sur les 24 dernières heures{% endtrans %}"
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    rotate:55,
                    fontSize:10,
                },
                data: ['{{crypto.graph.x.0}}','{{crypto.graph.x.1}}','{{crypto.graph.x.2}}','{{crypto.graph.x.3}}','{{crypto.graph.x.4}}','{{crypto.graph.x.5}}','{{crypto.graph.x.6}}',
                '{{crypto.graph.x.7}}','{{crypto.graph.x.8}}','{{crypto.graph.x.9}}','{{crypto.graph.x.10}}','{{crypto.graph.x.11}}','{{crypto.graph.x.12}}','{{crypto.graph.x.13}}',
                    '{{crypto.graph.x.14}}','{{crypto.graph.x.15}}','{{crypto.graph.x.16}}','{{crypto.graph.x.17}}','{{crypto.graph.x.18}}','{{crypto.graph.x.19}}','{{crypto.graph.x.20}}'
                    ,'{{crypto.graph.x.21}}','{{crypto.graph.x.22}}','{{crypto.graph.x.23}}'],
            },
            yAxis: {
                type: 'value',
                min:{{  crypto.graph.min}},
                max:{{  crypto.graph.max}},
            },
            legend: {
                data: ['{% trans %}Cours de la crypto{% endtrans %}']
            },
            series: [
                {
                    data: ['{{crypto.graph.data.0}}','{{crypto.graph.data.1}}','{{crypto.graph.data.2}}','{{crypto.graph.data.3}}','{{crypto.graph.data.4}}','{{crypto.graph.data.5}}','{{crypto.graph.data.6}}',
                        '{{crypto.graph.data.7}}','{{crypto.graph.data.8}}','{{crypto.graph.data.9}}','{{crypto.graph.data.10}}','{{crypto.graph.data.11}}','{{crypto.graph.data.12}}','{{crypto.graph.data.13}}',
                        '{{crypto.graph.data.14}}','{{crypto.graph.data.15}}','{{crypto.graph.data.16}}','{{crypto.graph.data.17}}','{{crypto.graph.data.18}}','{{crypto.graph.data.19}}','{{crypto.graph.data.20}}'
                        ,'{{crypto.graph.data.21}}','{{crypto.graph.data.22}}','{{crypto.graph.data.23}}'],
                    type: 'line'
                }
            ]
        };

        // Display the chart using the configuration items and data just specified.
        myChart.setOption(option);

    </script>
    <h4 style="text-align: center"> {% trans %}Commentaires {% endtrans %}</h4>
    {% if app.user is null %}
    <h6 style="text-align: center">{% trans %}Vous devez être connecté pour ajouter un commentaire{% endtrans %}</h6>
    {% else %}
        <a href="/add/comm/{{ crypto.id }}" class="btn btn-default navbar-btn">{% trans %}Ajouter un commentaire{% endtrans %}</a>
    {% endif %}


<table class="table text-center">
    <tr>
        <th class="active text-center">{% trans %}Nom{% endtrans %}</th>
        <th class="active text-center">{% trans %}Commentaire{% endtrans %}</th>


                <th class="active text-center"></th>
            <th class="active text-center"></th>
    </tr>
    {% for commentaire in commentaires %}
        <tr>
            <td>{{ commentaire.user.username }}</td>
            <td>{{ commentaire.description}}</td>
            {% if app.user %}
            {% if is_granted("ROLE_ADMIN") or app.user.username is same as(commentaire.user.username) %}

                    <td><a class = "btn btn-danger" href="{{ path('commentaire.supprimer', {id: commentaire.id}) }}">{% trans %}Supprimer{% endtrans %}</a></td>
                    <td><a class = "btn btn-warning" href="{{ path('commentaire.modifier', {id: commentaire.id}) }}">{% trans %}Modifier{% endtrans %}</a></td>

            {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
