{%  extends 'base.html.twig' %}
{% block body %}
<div class="example-wrapper">
        <h1 style="padding-left:25px"> Cours des cryptomonnaies</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col" onclick="sortTable(0)">Nom</th>
                <th scope="col">Symbole</th>
                <th scope="col" onclick="sortTable(1)">Prix</th>
                <th scope="col" onclick="sortTable(2)">Marketcap</th>
                <th scope="col">Categorie</th>
                <th scope="col" onclick="sortTable(3)">Date de Création</th>
            </tr>
            </thead>
            <tbody>
            {% set nb = 0 %}
            {% for cryp in cryptos %}
                {% set nb = nb + 1 %}
                <tr>
                    <td>{{ nb }}</td>
                    <td><img src="{{ cryp.logo }}" width="30px"></td>
                    <td ><a href="../../crypto/detail/{{cryp.id}}" style=" color: #000000;text-decoration: none;"><b>{{ cryp.nom }}</b></a></td>
                    <td>{{ cryp.symbole }}</td>
                    <td>{{ cryp.prix }} €</td>
                    <td>{{ cryp.marketcap }}</td>
                    <td>{{ cryp.categorie }}</td>
                    <td>{{ cryp.dateCreation|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>



    </div>


    {% if sortBool==1 %}
        <div style="text-align: center; padding-top: 10px; padding-bottom: 15px">
            <span style="padding-right: 20px"><a href="../../../cryptos/sort/{{ sort }}&{{ order }}" style=" color: #000000;text-decoration: none;"><u>Début</u></a></span>
            <span style="padding-right: 20px"><a href="../../../cryptos/sort/{{ sort }}&{{ order }}/{{ pageStart-1 }}" style=" color: #000000;text-decoration: none;"><u>Précedent</u></a></span>
            {% for i in pageStart-2 .. pageEnd  %}

                {% if i > 0 %}
                    {% if i == pageStart %}
                        <span style="padding-left: 5px"><a href="../../../cryptos/sort/{{ sort }}&{{ order }}/{{ i }}" style=" color: #000000;text-decoration: none;"> <b><u>{{ i }}</u></b></a></span>
                    {% else %}
                        <span style="padding-left: 5px"><a href="../../../cryptos/sort/{{ sort }}&{{ order }}/{{ i }}" style=" color: #000000;text-decoration: none;">{{ i }}</a></span>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <span style="padding-left: 20px"><a href="../../../cryptos/sort/{{ sort }}&{{ order }}/{{ pageStart+1 }}" style=" color: #000000;text-decoration: none;"><u>Suivant</u></a></span>

        </div>
    {% else %}
        <div style="text-align: center; padding-top: 10px; padding-bottom: 15px">
            <span style="padding-right: 20px"><a href="../../cryptos/" style=" color: #000000;text-decoration: none;"><u>Début</u></a></span>
            <span style="padding-right: 20px"><a href="../../cryptos/{{ pageStart-1 }}" style=" color: #000000;text-decoration: none;"><u>Précedent</u></a></span>
            {% for i in pageStart-2 .. pageEnd  %}

                {% if i > 0 %}
                    {% if i == pageStart %}
                        <span style="padding-left: 5px"><a href="../../cryptos/{{ i }}" style=" color: #000000;text-decoration: none;"> <b><u>{{ i }}</u></b></a></span>
                    {% else %}
                        <span style="padding-left: 5px"><a href="../../cryptos/{{ i }}" style=" color: #000000;text-decoration: none;">{{ i }}</a></span>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <span style="padding-left: 20px"><a href="../../cryptos/{{ pageStart+1 }}" style=" color: #000000;text-decoration: none;"><u>Suivant</u></a></span>

        </div>
    {% endif %}


</div>

    <script>
        function sortTable(n) {

            origin = window.location.origin;
            pathname = window.location.pathname;

            switch (n){
            case 0 : pathnameFinal = "/cryptos/sort/nom&"; break;
            case 1 :  pathnameFinal = "/cryptos/sort/prix&"; break;
            case 2 :  pathnameFinal = "/cryptos/sort/marketcap&"; break;
            case 3 :  pathnameFinal = "/cryptos/sort/date&"; break;
            default : pathnameFinal = "/cryptos/sort/nom&"; break;
        }

            order = "desc";
            if(pathname !== "/cryptos"){
                debut = pathname.length ;
                fin = (pathname.length )-4;
                //console.log(pathname.substring(debut, fin));
                if(pathname.substring(debut, fin) === "&asc"){
                    order = "desc";
                }else{
                    order = "asc";
                }

            }
            pathnameFinal = pathnameFinal + order;
            url = origin + pathnameFinal;

            window.location.replace(url);
        }
    </script>

{% endblock %}
